#horarios {
    border-collapse: collapse;
    width: 100%;
}

#horarios td {
    color: black;
}

#horarios td,
#horarios th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#horarios tr:nth-child(even) {
    background-color: #d8dee9;
}

#horarios tr:nth-child(odd) {
    background-color: #eceff4;
}

#horarios tr:hover {
    background-color: #ddd;
}

#horarios th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #993399;
    color: white;
}

body {
    font-family: Lato, Arial, Helvetica, sans-serif;
    background-color: #2e3440;
    color: #eceff4;
    font-size: 18px;
}

h1 {
    text-align: center;
}

form {
    text-align: center;
    float: left;
}

.center {
    margin: auto;
    width: 30%;
    padding: 10px;

}

div {
    padding: 1.5%;
}

#label_saida, #botao {
    margin-left: 2%;
}